@keyframes animcursos {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(7, 7, 7);
  color: rgb(254, 254, 254);
}

header {
  height: 95px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 0px;
}
header .hdr {
  height: 70px;
  width: 70px;
}
header nav #check-menu,
header nav label.menu {
  display: none;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
header nav ul a {
  font-family: "pt sans narrow";
  font-size: 25px;
  color: rgb(248, 199, 175);
  position: relative;
  text-decoration: none;
  margin: 3.5px;
  padding-left: 20px;
}
header nav ul a .logoredes {
  height: 4vh;
  width: 4vh;
  margin-bottom: 3px;
}
header nav ul a:hover {
  color: rgb(254, 254, 254);
}
header nav ul a::before {
  content: "";
  height: 3px;
  width: 0%;
  background: rgba(41, 169, 201, 0.87);
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}
header nav ul a:hover::before {
  width: 100%;
}

@media (max-width: 768px) {
  header {
    height: 10vh;
    position: absolute;
    justify-content: space-evenly;
  }
  header .hdr {
    margin-left: 15px;
    height: 8vh;
    width: 8vh;
  }
  header nav {
    height: 15vh;
    width: 80%;
    padding-left: 0px;
  }
  header nav #check-menu:checked ~ ul {
    display: block;
    clip-path: circle(100% at center);
  }
  header nav label.menu {
    display: block;
    font-size: 2em;
    color: aquamarine;
    cursor: pointer;
    margin-bottom: 0px;
  }
  header nav label.menu i {
    padding-top: 60px;
    padding-left: 16em;
  }
  header nav ul {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0px;
    margin-right: 50px;
    padding-left: 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    clip-path: circle(0 at center);
  }
  header nav ul li .logoredes {
    height: 3vh;
    width: 3vh;
  }
  header nav ul li .logoredes a {
    font-size: 1.3em;
  }
}
@media (max-width: 667px) {
  header {
    height: 15vh;
  }
  header .hdr {
    margin-left: 20px;
  }
  header nav label.menu i {
    padding-top: 45px;
    padding-left: 7.5em;
  }
  header nav ul a {
    font-size: 1em;
  }
}
@media (max-width: 360px) {
  header .hdr {
    margin-left: 30px;
  }
  header nav label.menu {
    font-size: 1.5em;
  }
  header nav label.menu i {
    padding-top: 40px;
  }
}
.hero {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/foto1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero h1 {
  font-family: "pt sans narrow";
  font-size: 3.8em;
  color: rgb(254, 254, 254);
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .hero {
    height: 90vh;
  }
  .hero h1 {
    font-size: 3em;
  }
}
@media (max-width: 667px) {
  .hero {
    height: 80vh;
  }
  .hero h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 360px) {
  .hero {
    height: 75vh;
  }
  .hero h1 {
    font-size: 1.8em;
  }
}
.container1 {
  height: 696px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container1 h2 {
  width: 100%;
  margin: 0px;
  font-family: helvetica;
  font-size: 2.5em;
  color: rgb(228, 142, 101);
  text-align: center;
}
.container1 p {
  font-family: "oswald";
  font-size: 1.8em;
  color: rgb(254, 254, 254);
  text-align: center;
  margin: 0px 20px;
}

.nosotros {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 50% 5%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "img presentacion ." "img presentacion ." "img presentacion ." "img presentacion .";
}
.nosotros .imgbartender {
  grid-area: img;
}
.nosotros .imgbartender img {
  height: 100vh;
  width: 75vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.nosotros .presentacion {
  grid-area: presentacion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.nosotros .presentacion h3 {
  font-family: helvetica;
  font-size: 2em;
  color: rgb(254, 254, 254);
  margin: 0px;
  padding: 0px 10px;
  padding-bottom: 10px;
}
.nosotros .presentacion p {
  font-family: "oswald";
  font-size: 1.4em;
  color: rgb(254, 254, 254);
  padding: 0px 10px;
}

.containerins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  padding: 150px 12px;
}
.containerins h2 {
  font-family: helvetica;
  font-size: 2.4em;
  color: rgb(254, 254, 254);
}
.containerins h2 span {
  color: rgb(228, 142, 101);
}
.containerins .inscribite {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.containerins .inscribite .contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 50px;
}
.containerins .inscribite .contactanos h3 {
  font-family: helvetica;
  font-size: 1.1em;
  color: rgb(254, 254, 254);
  margin: 15px 0px;
}
.containerins .inscribite .contactanos p {
  font-family: "oswald";
  font-size: 1.2em;
  color: rgb(254, 254, 254);
}
.containerins .inscribite .contactanos img {
  height: 60px;
  width: 60px;
}
.containerins .inscribite .contactanos:hover {
  box-shadow: -21px 21px 42px #101016, 21px -21px 42px #131318;
}
.containerins .inscribite .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 50px;
}
.containerins .inscribite .info h3 {
  font-family: helvetica;
  font-size: 1.1em;
  color: rgb(254, 254, 254);
  margin: 15px 0px;
}
.containerins .inscribite .info p {
  font-family: "oswald";
  font-size: 1.2em;
  color: rgb(254, 254, 254);
}
.containerins .inscribite .info img {
  height: 60px;
  width: 60px;
}
.containerins .inscribite .info:hover {
  box-shadow: -21px 21px 42px #101016, 21px -21px 42px #131318;
}
.containerins .inscribite .practica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 50px;
}
.containerins .inscribite .practica h3 {
  font-family: helvetica;
  font-size: 1.1em;
  color: rgb(254, 254, 254);
  margin: 15px 0px;
}
.containerins .inscribite .practica p {
  font-family: "oswald";
  font-size: 1.2em;
  color: rgb(254, 254, 254);
}
.containerins .inscribite .practica img {
  height: 60px;
  width: 60px;
}
.containerins .inscribite .practica:hover {
  box-shadow: -21px 21px 42px #101016, 21px -21px 42px #131318;
}

@media (max-width: 768px) {
  .container1 {
    height: 50vh;
  }
  .container1 h2 {
    font-size: 1.9em;
  }
  .container1 p {
    font-size: 1.4em;
    padding: 0px 20px;
  }
  .nosotros {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50% repeat(4, 1fr);
    grid-template-areas: "img" "presentacion" "presentacion" "presentacion" "presentacion";
  }
  .nosotros .imgbartender {
    height: 48vh;
    display: flex;
    justify-content: center;
  }
  .nosotros .imgbartender img {
    height: 47vh;
    width: 45vh;
  }
  .nosotros .presentacion {
    height: 50vh;
    display: block;
    width: auto;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .nosotros .presentacion h3 {
    font-size: 1.4em;
    padding: 0px 10px;
  }
  .nosotros .presentacion p {
    font-size: 1.1em;
    padding: 0px 5px;
  }
  .containerins {
    display: block;
    height: 65vh;
    margin: 0px;
    padding: 15px 0px;
  }
  .containerins h2 {
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
  }
  .containerins .inscribite {
    margin-top: 75px;
  }
  .containerins .inscribite .contactanos {
    border-radius: 14px;
    padding: 0px;
  }
  .containerins .inscribite .contactanos img {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;
  }
  .containerins .inscribite .contactanos h3 {
    font-size: 1em;
  }
  .containerins .inscribite .contactanos p {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .containerins .inscribite .info {
    border-radius: 14px;
    padding: 0px;
  }
  .containerins .inscribite .info img {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;
  }
  .containerins .inscribite .info h3 {
    font-size: 1em;
  }
  .containerins .inscribite .info p {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .containerins .inscribite .practica {
    border-radius: 14px;
    padding: 0px;
  }
  .containerins .inscribite .practica img {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;
  }
  .containerins .inscribite .practica h3 {
    font-size: 1em;
  }
  .containerins .inscribite .practica p {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
}
@media (max-width: 667px) {
  .container1 h2 {
    font-size: 1.5em;
  }
  .container1 p {
    font-size: 1em;
  }
  .nosotros .imgbartender {
    height: 45vh;
  }
  .nosotros .imgbartender img {
    height: 47vh;
    width: 35vh;
  }
  .nosotros .presentacion h3 {
    font-size: 1.1em;
  }
  .nosotros .presentacion p {
    font-size: 0.85em;
    padding: 0px 6px;
  }
  .containerins h2 {
    font-size: 1em;
  }
  .containerins .inscribite {
    flex-direction: column;
    margin: 0px 50px 0px;
  }
  .containerins .inscribite .contactanos {
    border-radius: 12px;
    padding: 0px;
    margin: 8px 25px;
  }
  .containerins .inscribite .contactanos img {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;
  }
  .containerins .inscribite .contactanos h3 {
    font-size: 0.85em;
  }
  .containerins .inscribite .contactanos p {
    font-size: 0.75em;
    padding: 0px 10px;
    margin-bottom: 10px;
  }
  .containerins .inscribite .info {
    border-radius: 12px;
    padding: 0px;
    margin: 8px 25px;
  }
  .containerins .inscribite .info img {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;
  }
  .containerins .inscribite .info h3 {
    font-size: 0.85em;
  }
  .containerins .inscribite .info p {
    font-size: 0.75em;
    padding: 0px 10px;
    margin-bottom: 10px;
  }
  .containerins .inscribite .practica {
    border-radius: 14px;
    padding: 0px;
    margin: 8px 25px;
  }
  .containerins .inscribite .practica img {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;
  }
  .containerins .inscribite .practica h3 {
    font-size: 0.85em;
  }
  .containerins .inscribite .practica p {
    font-size: 0.75em;
    padding: 0px 10px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
}
@media (max-width: 360px) {
  .container1 {
    height: 40vh;
  }
  .container1 h2 {
    font-size: 1em;
  }
  .container1 p {
    margin-top: 10px;
    font-size: 0.8em;
  }
  .nosotros {
    grid-template-rows: 40% repeat(4, 1fr);
  }
  .nosotros .imgbartender {
    height: 35vh;
  }
  .nosotros .imgbartender img {
    height: 40vh;
    width: 32vh;
  }
  .nosotros .presentacion {
    height: 50vh;
    width: auto;
    padding-top: 5px;
    padding-left: 5px;
  }
  .nosotros .presentacion h3 {
    font-size: 0.8em;
    padding: 3px 5px 0px;
  }
  .nosotros .presentacion p {
    font-size: 0.7em;
    padding: 0px 5px;
  }
  .containerins {
    height: 60vh;
    margin: 0px;
    padding: 0px;
  }
  .containerins h2 {
    font-size: 0.65em;
    margin-top: 8px;
  }
  .containerins .inscribite {
    margin: 0px 40px 0px;
  }
  .containerins .inscribite .contactanos {
    border-radius: 10px;
    padding: 0px;
    margin: 8px 25px;
  }
  .containerins .inscribite .contactanos img {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;
  }
  .containerins .inscribite .contactanos h3 {
    font-size: 0.6em;
    margin: 8px 0px;
  }
  .containerins .inscribite .contactanos p {
    font-size: 0.45em;
    margin: 0px;
  }
  .containerins .inscribite .info {
    border-radius: 12px;
    padding: 0px;
    margin: 8px 25px;
  }
  .containerins .inscribite .info img {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;
  }
  .containerins .inscribite .info h3 {
    font-size: 0.6em;
    margin: 8px 0px;
  }
  .containerins .inscribite .info p {
    font-size: 0.45em;
    margin: 0px;
  }
  .containerins .inscribite .practica {
    border-radius: 14px;
    padding: 0px;
    margin: 8px 25px;
  }
  .containerins .inscribite .practica img {
    height: 4vh;
    width: 4vh;
    margin-top: 10px;
  }
  .containerins .inscribite .practica h3 {
    font-size: 0.6em;
    margin: 8px 0px;
  }
  .containerins .inscribite .practica p {
    font-size: 0.45em;
    margin: 0px;
  }
}
footer {
  height: 250px;
  margin: 0px;
  padding: 2rem 8%;
  color: rgb(254, 254, 254);
  box-shadow: 5px 5px 10px rgba(49, 46, 46, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer img {
  height: 90px;
  width: 90px;
  padding: 10px;
}
footer .social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .social-icons-container .social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid rgba(41, 169, 201, 0.87);
  background-image: url(../img/logofacebook.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1em;
}
footer .social-icons-container .social-icon:hover {
  box-shadow: 5px 5px 10px rgba(41, 169, 201, 0.87);
  background-color: rgb(254, 254, 254);
}
footer .social-icons-container .social-icon:nth-of-type(2) {
  background-image: url(../img/logoinstagram.png);
}
footer .social-icons-container .social-icon:nth-of-type(2):hover {
  box-shadow: 5px 5px 10px rgba(41, 169, 201, 0.87);
  background-color: #121212;
  filter: invert(1);
}
footer .social-icons-container .social-icon:nth-of-type(3) {
  background-image: url(../img/wpp.png);
}
footer .social-icons-container .social-icon:nth-of-type(3):hover {
  box-shadow: 5px 5px 10px rgb(64, 189, 33);
  background-color: rgb(254, 254, 254);
}
footer .social-icons-container .social-icon:nth-of-type(4) {
  background-image: url(../img/email.png);
}
footer .social-icons-container .social-icon:nth-of-type(4):hover {
  box-shadow: 5px 5px 10px rgba(41, 169, 201, 0.87);
  background-color: #121212;
  filter: invert(1);
}
footer .footer-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  color: rgb(254, 254, 254);
  font-size: 18px;
}
footer .footer-menu-container .menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
footer .footer-menu-container .menu-item .menu-item:hover {
  opacity: 1;
}
footer .copyright {
  color: rgb(254, 254, 254);
  opacity: 0.3;
  text-align: center;
}

@media (max-width: 667px) {
  footer {
    height: 35vh;
    padding: 1rem 6%;
  }
  footer img {
    height: 50px;
    width: 50px;
    padding: 10px;
  }
  footer .social-icons-container .social-icon {
    height: 40px;
    width: 40px;
    border-radius: 40px;
  }
  footer .footer-menu-container {
    font-size: 12px;
    padding: 0px;
  }
  footer .footer-menu-container .menu-item {
    margin: 1rem 1.5rem;
  }
  footer .copyright {
    font-size: 0.75em;
  }
}
@media (max-width: 360px) {
  footer {
    height: 35vh;
    padding: 1rem 6%;
  }
  footer img {
    height: 40px;
    width: 40px;
    padding: 10px;
  }
  footer .social-icons-container .social-icon {
    height: 35px;
    width: 35px;
    border-radius: 35px;
    margin: 0.5em;
  }
  footer .footer-menu-container {
    font-size: 10px;
    padding: 0px;
  }
  footer .footer-menu-container .menu-item {
    margin: 0.8rem 1.1rem;
  }
  .copyright {
    font-size: 0.7em;
  }
}
main section .contenedorcursos1 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(2, 2, 2, 0.5);
}
main section .contenedorcursos1 .cursosimg img {
  box-shadow: 8px 8px 12px rgba(2, 2, 2, 0.5);
}
main section .contenedorcursos1 .curso1 {
  height: 420px;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
main section .contenedorcursos1 .curso1 h3 {
  font-family: helvetica;
  font-size: 1.4em;
  color: rgb(254, 254, 254);
}
main section .contenedorcursos1 .curso1 p {
  font-family: "oswald";
  font-size: 1em;
  color: rgb(254, 254, 254);
}
main section .contenedorcurso2 {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(2, 2, 2, 0.5);
}
main section .contenedorcurso2 .cursosimg img {
  box-shadow: 8px 8px 12px rgba(2, 2, 2, 0.5);
}
main section .contenedorcurso2 .curso2 {
  height: 420px;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
main section .contenedorcurso2 .curso2 h3 {
  font-family: helvetica;
  font-size: 1.4em;
  color: rgb(254, 254, 254);
}
main section .contenedorcurso2 .curso2 p {
  font-family: "oswald";
  font-size: 1em;
  color: rgb(254, 254, 254);
}
main section .contenedorcurso3 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main section .contenedorcurso3 .cursosimg img {
  box-shadow: 8px 8px 12px rgba(2, 2, 2, 0.5);
}
main section .contenedorcurso3 .curso3 {
  height: 420px;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
main section .contenedorcurso3 .curso3 h3 {
  font-family: helvetica;
  font-size: 1.4em;
  color: rgb(254, 254, 254);
}
main section .contenedorcurso3 .curso3 p {
  font-family: "oswald";
  font-size: 1em;
  color: rgb(254, 254, 254);
}

@media (max-width: 768px) {
  main section .contenedorcursos1 {
    height: 70vh;
    width: auto;
    flex-direction: column;
    margin: 0 auto;
  }
  main section .contenedorcursos1 .cursosimg img {
    height: 30vh;
    margin-top: 50px;
  }
  main section .contenedorcursos1 .curso1 {
    height: 40vh;
    width: auto;
    align-items: center;
    margin: 10px;
  }
  main section .contenedorcursos1 .curso1 h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 5px;
    padding: 0px;
  }
  main section .contenedorcursos1 .curso1 p {
    font-size: 1em;
    margin: 0px;
    padding: 0px 30px;
  }
  main section .contenedorcurso2 {
    height: 70vh;
    width: auto;
    flex-direction: column;
    margin: 0 auto;
  }
  main section .contenedorcurso2 .cursosimg img {
    height: 30vh;
    margin-top: 50px;
  }
  main section .contenedorcurso2 .curso2 {
    height: 40vh;
    width: auto;
    align-items: center;
    margin: 10px;
  }
  main section .contenedorcurso2 .curso2 h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 5px;
    padding: 0px;
  }
  main section .contenedorcurso2 .curso2 p {
    font-size: 1em;
    margin: 0px;
    padding: 0px 30px;
  }
  main section .contenedorcurso3 {
    height: 70vh;
    width: auto;
    flex-direction: column;
    margin: 0 auto;
  }
  main section .contenedorcurso3 .cursosimg img {
    height: 30vh;
    margin-top: 50px;
  }
  main section .contenedorcurso3 .curso3 {
    height: 40vh;
    width: auto;
    align-items: center;
    margin: 10px;
  }
  main section .contenedorcurso3 .curso3 h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 5px;
    padding: 0px;
  }
  main section .contenedorcurso3 .curso3 p {
    font-size: 1em;
    margin: 0px;
    padding: 0px 30px;
  }
}
@media (max-width: 667px) {
  main section .contenedorcursos1 .cursosimg img {
    height: 25vh;
  }
  main section .contenedorcursos1 .curso1 {
    height: 35vh;
    width: auto;
  }
  main section .contenedorcursos1 .curso1 h3 {
    font-size: 1.15em;
  }
  main section .contenedorcursos1 .curso1 p {
    font-size: 0.8em;
  }
  main section .contenedorcurso2 .cursosimg img {
    height: 25vh;
  }
  main section .contenedorcurso2 .curso2 {
    height: 35vh;
    width: auto;
  }
  main section .contenedorcurso2 .curso2 h3 {
    font-size: 1.15em;
  }
  main section .contenedorcurso2 .curso2 p {
    font-size: 0.8em;
  }
  main section .contenedorcurso3 .cursosimg img {
    height: 25vh;
  }
  main section .contenedorcurso3 .curso3 {
    height: 35vh;
    width: auto;
  }
  main section .contenedorcurso3 .curso3 h3 {
    font-size: 1.15em;
  }
  main section .contenedorcurso3 .curso3 p {
    font-size: 0.8em;
  }
}
@media (max-width: 360px) {
  main section .contenedorcursos1 {
    height: 65vh;
  }
  main section .contenedorcursos1 .cursosimg img {
    height: 25vh;
    margin: 7px 0px;
  }
  main section .contenedorcursos1 .curso1 {
    height: 35vh;
    margin: 5px;
  }
  main section .contenedorcursos1 .curso1 h3 {
    font-size: 0.8em;
    text-align: center;
    margin: 7px;
    padding: 0px;
  }
  main section .contenedorcursos1 .curso1 p {
    font-size: 0.6em;
    margin: 0px;
    padding: 0px 20px;
  }
  main section .contenedorcurso2 {
    height: 65vh;
  }
  main section .contenedorcurso2 .cursosimg img {
    height: 25vh;
    margin: 7px 0px;
  }
  main section .contenedorcurso2 .curso2 {
    height: 35vh;
    margin: 5px;
  }
  main section .contenedorcurso2 .curso2 h3 {
    font-size: 0.8em;
    text-align: center;
    margin: 7px;
    padding: 0px;
  }
  main section .contenedorcurso2 .curso2 p {
    font-size: 0.6em;
    margin: 0px;
    padding: 0px 20px;
  }
  main section .contenedorcurso3 {
    height: 65vh;
  }
  main section .contenedorcurso3 .cursosimg img {
    height: 25vh;
    margin: 7px 0px;
  }
  main section .contenedorcurso3 .curso3 {
    height: 35vh;
    margin: 5px;
  }
  main section .contenedorcurso3 .curso3 h3 {
    font-size: 0.8em;
    text-align: center;
    margin: 7px;
    padding: 0px;
  }
  main section .contenedorcurso3 .curso3 p {
    font-size: 0.6em;
    margin: 0px;
    padding: 0px 20px;
  }
}
main section .container1ser {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main section .container1ser h2 {
  font-family: helvetica;
  font-size: 2.5em;
  color: rgb(228, 142, 101);
  width: 100%;
  margin: 0px;
}
main section .contenedorasesora {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  animation-duration: 3s;
  animation-name: animcursos;
}
main section .contenedorasesora .asesora img {
  height: 412px;
  width: 620px;
  box-shadow: 8px 8px 12px rgba(2, 2, 2, 0.5);
}
main section .contenedorasesora .asesorainfo {
  height: 420px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
main section .contenedorasesora .asesorainfo h3 {
  font-family: helvetica;
  font-size: 1.4em;
  color: rgb(254, 254, 254);
}
main section .contenedorasesora .asesorainfo p {
  font-family: "oswald";
  font-size: 1em;
  color: rgb(254, 254, 254);
}
main section .contenedorbarras {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  animation-duration: 4s;
  animation-name: animcursos;
}
main section .contenedorbarras .barras img {
  height: 412px;
  width: 620px;
  box-shadow: 8px 8px 12px rgba(2, 2, 2, 0.5);
}
main section .contenedorbarras .barrasinfo {
  height: 420px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
main section .contenedorbarras .barrasinfo h3 {
  font-family: helvetica;
  font-size: 1.4em;
  color: rgb(254, 254, 254);
}
main section .contenedorbarras .barrasinfo p {
  font-family: "oswald";
  font-size: 1em;
  color: rgb(254, 254, 254);
}

@media (max-width: 768px) {
  main section .container1ser {
    height: 30vh;
    width: auto;
  }
  main section .container1ser h2 {
    font-size: 1.9em;
    padding-left: 10px;
  }
  main section .contenedorasesora {
    height: 70vh;
    width: auto;
    margin: 0 auto;
    flex-direction: column;
  }
  main section .contenedorasesora .asesora img {
    height: 30vh;
    width: auto;
  }
  main section .contenedorasesora .asesorainfo {
    height: 40vh;
    width: auto;
    align-items: center;
  }
  main section .contenedorasesora .asesorainfo h3 {
    width: auto;
    font-size: 1.5em;
  }
  main section .contenedorasesora .asesorainfo p {
    font-size: 1.2em;
    margin: 0px;
    padding: 0px 40px;
    text-align: initial;
  }
  main section .contenedorbarras {
    height: 70vh;
    width: auto;
    margin: 0 auto;
    flex-direction: column;
  }
  main section .contenedorbarras .barras img {
    height: 30vh;
    width: auto;
  }
  main section .contenedorbarras .barrasinfo {
    height: 40vh;
    width: auto;
    align-items: center;
  }
  main section .contenedorbarras .barrasinfo h3 {
    width: auto;
    font-size: 1.5em;
  }
  main section .contenedorbarras .barrasinfo p {
    font-size: 1.2em;
    margin: 0px;
    padding: 0px 40px;
    text-align: initial;
  }
}
@media (max-width: 667px) {
  main section .container1ser h2 {
    font-size: 1.5em;
  }
  main section .contenedorasesora .asesora img {
    height: 25vh;
    width: auto;
  }
  main section .contenedorasesora .asesorainfo {
    height: 55vh;
    width: auto;
    align-items: center;
  }
  main section .contenedorasesora .asesorainfo h3 {
    width: auto;
    font-size: 1.2em;
  }
  main section .contenedorasesora .asesorainfo p {
    font-size: 0.8em;
    margin: 0px;
    padding: 0px 20px;
    text-align: initial;
  }
  main section .contenedorbarras .barras img {
    height: 28vh;
    width: auto;
  }
  main section .contenedorbarras .barrasinfo {
    height: 55vh;
    width: auto;
    align-items: center;
  }
  main section .contenedorbarras .barrasinfo h3 {
    width: auto;
    font-size: 1.2em;
  }
  main section .contenedorbarras .barrasinfo p {
    font-size: 0.8em;
    margin: 0px;
    padding: 0px 20px;
    text-align: initial;
  }
}
@media (max-width: 360px) {
  main section .container1ser {
    height: 25vh;
  }
  main section .container1ser h2 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  main section .contenedorasesora {
    height: 65vh;
    width: auto;
    flex-direction: column;
    margin: 0 auto;
  }
  main section .contenedorasesora .asesora img {
    height: 22vh;
    width: auto;
  }
  main section .contenedorasesora .asesorainfo {
    height: 55vh;
  }
  main section .contenedorasesora .asesorainfo h3 {
    font-size: 1em;
  }
  main section .contenedorasesora .asesorainfo p {
    font-size: 0.7em;
  }
  main section .contenedorbarras {
    height: 65vh;
    width: auto;
    flex-direction: column;
    margin: 0 auto;
  }
  main section .contenedorbarras .barras img {
    height: 22vh;
    width: auto;
  }
  main section .contenedorbarras .barrasinfo {
    height: 55vh;
  }
  main section .contenedorbarras .barrasinfo h3 {
    font-size: 1em;
  }
  main section .contenedorbarras .barrasinfo p {
    font-size: 0.7em;
  }
}
main .formcontacto {
  height: 100vh !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) !important;
}
main .formcontacto .conta {
  height: 20vh !important;
  margin-top: 70px !important;
}
main .formcontacto .conta .wpp {
  height: 10vh !important;
}
main .formcontacto .conta .wpp img {
  height: 6vh;
  width: 9vh;
}
main .formcontacto .conta .email {
  height: 10vh !important;
}
main .formcontacto .conta .email img {
  height: 6vh;
  width: 9vh;
}

@media (max-width: 768px) {
  main .formcontacto {
    height: 100vh !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) !important;
  }
  main .formcontacto iframe {
    height: 30vh;
    width: 50vh;
    margin-top: 20px;
  }
  main .formcontacto .conta {
    height: 20vh !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 20px !important;
  }
  main .formcontacto .conta .wpp {
    height: 10vh !important;
    width: auto !important;
  }
  main .formcontacto .conta .wpp img {
    height: 3.5vh !important;
    width: 4.7vh !important;
  }
  main .formcontacto .conta .email {
    height: 10vh !important;
    width: auto !important;
  }
  main .formcontacto .conta .email img {
    height: 3.5vh !important;
    width: 4.7vh !important;
  }
}
@media (max-width: 667px) {
  main .formcontacto {
    height: 100vh !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) !important;
  }
  main .formcontacto iframe {
    height: 30vh;
    width: auto;
    margin-top: 40px;
  }
  main .formcontacto .conta {
    height: 20vh !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 20px !important;
  }
  main .formcontacto .conta .wpp {
    height: 10vh !important;
    width: auto !important;
  }
  main .formcontacto .conta .wpp img {
    height: 3.5vh !important;
    width: 4.7vh !important;
  }
  main .formcontacto .conta .wpp p {
    font-size: 1em !important;
  }
  main .formcontacto .conta .email {
    height: 10vh !important;
    width: auto !important;
  }
  main .formcontacto .conta .email img {
    height: 3.5vh !important;
    width: 4.7vh !important;
  }
  main .formcontacto .conta .email p {
    font-size: 1em !important;
  }
  main .formcontacto .formpropio input {
    height: 3vh !important;
    margin-bottom: 3px !important;
  }
  main .formcontacto .formpropio textarea {
    height: 23vh !important;
  }
}
@media (max-width: 360px) {
  main .formcontacto {
    height: 100vh !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) !important;
  }
  main .formcontacto iframe {
    height: 30vh;
    width: 40vh;
    margin-top: 20px;
  }
  main .formcontacto .conta {
    height: 13vh !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 20px !important;
  }
  main .formcontacto .conta .wpp {
    height: 6vh !important;
    width: auto !important;
  }
  main .formcontacto .conta .wpp img {
    height: 3.2vh !important;
    width: 4.2vh !important;
  }
  main .formcontacto .conta .wpp p {
    font-size: 0.75em !important;
  }
  main .formcontacto .conta .email {
    height: 6vh !important;
    width: auto !important;
  }
  main .formcontacto .conta .email img {
    height: 3.2vh !important;
    width: 4.2vh !important;
  }
  main .formcontacto .conta .email p {
    font-size: 0.8em !important;
  }
  main .formcontacto .formpropio input {
    height: 4vh !important;
  }
  main .formcontacto .formpropio textarea {
    height: 20vh !important;
  }
  main .formcontacto .formpropio button {
    height: 4.5vh !important;
    padding: 5px !important;
  }
  main .formcontacto .formpropio button .pbut {
    font-size: 0.8em !important;
    margin: 0px !important;
    padding: 0px !important;
  }
}

/*# sourceMappingURL=estilo.css.map */
