// fuentes 
$fontnahe :"pt sans narrow";
$fonttitle: helvetica;
$fontparra : tahoma;

// colores 
$white : rgb(254, 254, 254);
$oranw : rgb(248, 199, 175);
$sky : rgba(41, 169, 201, 0.87);
$orand : rgb(228, 142, 101);
$skyd : rgba(60, 91, 150, 0.5);
//  

// shadows
$shabla :2px 2px 10px rgba(0, 0, 0, 0.5);
$shaimg: 8px 8px 12px rgba(2, 2, 2, 0.5);
$shablug: -21px 21px 42px #101016,
    21px -21px 42px #131318;